.NotFound{
  height: 25px;
  left: 77px;
  top: 40px;
  margin: 60px;
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;
}


.containerError{
  display: flex;
  justify-content: center;  
}

/* Scarecrow */
.Scarecrow{
  margin-right: 100px;
  margin-top: 50px;
  top: 24.54%;
  bottom: 34.03%; 
}

.img{
  height: 30rem;
  animation: rotation 7s infinite linear;
  width: 600px;
}

@keyframes rotation{
  from{
    transform: rotatey(0deg);
  }
  to{
    transform: rotatey(360deg);
  }
}

.containerButton{
  margin-left: 100px;
  margin-top: 50px;
}

.Group103{  
  width: 216px;
  height: 68px;
  left: 740px;
  top: 663px;
}

/* Rectangle 71 */
.Rectangle71{
  width: 216px;
  height: 68px;
  left: 740px;
  top: 663px;
  color: #FFFFFF;
  /* Gray 1 */
  background: #333333;
}


.BackToHome{
  width: 130px;
  height: 21px;
  left: 783px;
  top: 687px;
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: -0.035em;
  text-transform: uppercase;
}


/* I have bad news for you */
.Ihave{
  width: 586px;
  height: 190px;
  left: 735px;
  top: 265px;
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  /* Gray 1 */
  color: #333333;
  margin-bottom: 50px;
}


/* The page you are looking for might be removed or is temporarily unavailable */
.Thepage{
  width: 381px;
  height: 108px;
  left: 736px;
  top: 491px;
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  /* Gray 2 */
  color: #4F4F4F;
  margin-bottom: 60px;
}

.footer{
  text-align: center;
  margin-top: 10%;
  height: 17px;
  left: 607px;
  top: 1024px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #333333;
}

/* @media (max-width: 960px){ */
@media screen and (max-width: 576px){
  .containerError{
    position: absolute;
      display: flex;
      flex-direction: column;
  }

  .img{
    position: absolute;
    height: 22rem;
    width: 380px;
  }

  /* I have bad news for you */
  .Ihave{
    position: absolute;
    width: 340px;
    height: 142px;
    left: 24px;
    top: 500px;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.035em;
    /* Gray 1 */
    color: #333333;
    margin-bottom: 50px;
  }

  /* The page you are looking for might be removed or is temporarily unavailable */
  .Thepage{
    position: absolute;
    width: 328px;
    height: 81px;
    left: 23px;
    top: 690px;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
    /* Gray 2 */
    color: #4F4F4F;
    margin-bottom: 60px;
  }

  /* Rectangle 71 */
  .Rectangle71{
    position: absolute;
    width: 216px;
    height: 68px;
    left: 24px;
    top: 830px;
    color: #FFFFFF;
    /* Gray 1 */
    background: #333333;
  }

  .footer{
    position: absolute;
    text-align: center;
    margin-top: 60%;
    height: 17px;
    left: 75px;
    top: 890px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #333333;
  }
}
